/* NoteVideo.css */
.note-video {
    text-align: center;
    padding: 5px;
}

.note-video iframe {
    width: 100%;
    height: 150px; /* Smaller video height */
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.note-video p {
    font-size: 0.8rem; /* Smaller text for titles */
    color: #444;
}
