.mail{
    display: flex;
    /* gap: 0.3em; */
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

.mail-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.mail:hover{
    cursor: pointer;
    outline: solid black;
}

ul{
        list-style-type: none;
}

.mail-date{
    align-self: flex-end;
}