/* NoteIndex.css */
/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

button {
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    margin-right: auto;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px 0;
}


/* NoteIndex.css */
.note-index {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
}

.note-add {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.note-add select, .note-add input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.note-add button {
    padding: 10px 20px;
    background-color: #0079bf;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.note-add button:hover {
    background-color: #005a8d;
}

.note-filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.note-filter input, .note-filter select {
    max-width: 200px;
    padding: 8px;
}
